# {# pkglts, coverage
[html]
title = test_project's coverage
directory = build/htmlcov

[run]
source = test_project

[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplemented
    raise NotImplementedError
show_missing = True

# #}
