environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\continuous-integration\\appveyor\\run_with_env.cmd"

  matrix:
    - PYTHON: "C:\\Python36_64"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"
      CONDA_PY: "36"
      CONDA_NPY: "113"

install:
  # this installs the appropriate Miniconda (Py2/Py3, 32/64 bit),
  # as well as pip, conda-build, and the binstar CLI
  - powershell .\\install.ps1
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

build: false

build_script:
 # mostly to ensure commit
 - conda config --set always_yes yes --set changeps1 no
 - conda update -q conda
 # useful for debugging any issues with conda
 - conda info -a
 # create environment
 - conda create -n ci python
 - activate ci
 # install dependencies and package
 - conda env update --file requirements.yml
 - conda env update --file dvlpt_requirements.yml
 - python setup.py install
 # test
 - pytest
